<!DOCTYPE html>
<html>
<head>
  <title>Product</title>
</head>
<body>
  <h1><%= name %></h1>
  <% if (price) { %>
    <p>Price: $<%= price %></p>
    <p><%= description %></p>
    <img src="<%= image %>" width="200" alt="Product Image" />
  <% } %>
  <br />
  <a href="/">Search Another</a>
</body>
</html>
